<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-3">
                
                {% if site.data.profile.education %}
                <div class="row px-3 pt-2">
                    <div class="col h4">
                        Education
                    </div>
                </div>
                <div class="row px-3 pb-2">
                    <div class="col">
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.education %}
                            <li class="media mb-3">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 50px;" class="mr-3 mt-1">
                                <div class="media-body">
                                    <div style="font-weight: bold; font-size: 1.1rem;">{{ item.name }}</div>
                                    <div style="font-size: 1rem;">{{ item.dept }}</div>
                                    <div class="d-flex" style="font-size: 1rem;">
                                        <div>{{ item.position }}</div>
                                        <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.experience %}
                <div class="row px-3 pt-2">
                    <div class="col h4">
                        Experience
                    </div>
                </div>
                <div class="row px-3 pb-2">
                    <div class="col">
                        <ul class="list-unstyled mb-0">
                            {% for item in site.data.profile.experience %}
                            <li class="media mb-3">
                                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 50px;" class="mr-3 mt-1">
                                <div class="media-body">
                                    <div style="font-weight: bold; font-size: 1.1rem;">{{ item.name }}</div>
                                    <div style="font-size: 1rem;">{{ item.dept }}</div>
                                    <div class="d-flex" style="font-size: 1rem;">
                                        <div>{{ item.position }}</div>
                                        <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.awards %}
                <div class="row px-3 pt-2">
                    <div class="col h4">
                        Honors & Awards
                    </div>
                </div>
                <div class="row px-3 pb-2">
                    <div class="col">
                        <ul class="list pl-0 mb-0">
                            {% for item in site.data.profile.awards %}
                            <li class="mb-2">
                                <div class="d-flex" style="font-size: 1rem;">
                                    <div>{{ item.name }}</div>
                                    <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>